<div id="demo" class="carousel slide" data-ride="carousel">


  <ul class="carousel-indicators">
    <li data-target="#demo" *ngFor="let post of posts; let i =index" [attr.data-slide-to]="i" [class.active]="i==0"></li>
  </ul>
  
 
  <div class="carousel-inner">
    <div class="carousel-item active" *ngFor="let post of posts; let i=index" [class.active]="i==0">
      <div class="card">
        <div class="card-header">{{post.title}}</div>
        <div class="card-body">{{post.body}}</div> 
        <div class="card-footer">{{post.userId}}</div>
      </div>
      
    </div>
  </div>
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div> 